@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital@1&family=Sacramento&family=Sansita+Swashed:wght@500&display=swap');
body{
    text-align: center;
    font-family: 'Roboto';
    background-color: rgba(0, 0, 0, 0.4);
}
.heading{
    color: white;
}
button{
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: larger;
    height: 10vh;
    margin: 10px 2px;
    width: 10vh;
}
.text{
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: xx-large;
    height: 10vh;
    width: 43vh;
}
.row0 > button{
    border-radius: 3vh;
}
.content{
    background-color: rgba(18, 18, 18, 0.425);
    border: 5px solid rgba(0, 0, 0, 0.505);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    width: 45vh;
    margin: auto;
    padding: 1vh;
}